<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>歡迎觀臨我的部落格</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
    <h1>歡迎觀臨小屋</h1>
    <hr>
    {% for value in posts %}
        <p style='font-family:微軟正黑體;font-size:20px;font-weight:bold;'>
        {{value.title}}
        </p>
        <a href="/post/{{value.p_link}}">
            <label style='font-family:微軟正黑體;font-size:10;font-weight:bold;padding-left:10px;'>{{value.title}}</label>
        </a>
    {% endfor %}
    </hr>
    <h3>現在時刻:{{now}}</h3>
    </body>
</html>